/* All Common Css Start */
*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
/* All Common Css End */

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    
}
.nav-link {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-family: "Inter", sans-serif;
}
.bannerOverly{
  background: hsla(0, 0%, 0%,0.62);
  padding-top: 85px;
  padding-bottom: 115px;
}
.bannerText h1 {
    font-size: 40px;
}
.nav-link:hover {
  color: #4756DF;
}
.contactbtn a{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #ffff;
    padding: 15px 42px;
    background:#4756DF ;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    margin-top: 10px;

}


/* bannerPart Css Start */
#bannerPart{
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bannerOverly{
    background: hsla(0, 0%, 0%,0.62);
    padding-top: 330px;
    padding-bottom: 170px;
}
.bannerText h1{
    font-size: 55px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    line-height: 120%;
    color: #fff;
    padding-bottom: 50px;
}
.bannerText p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 26px;
    color: #fff; 
    padding: 0 227px;
    
}

.bannerText h1{
    font-size: 75px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    line-height: 120%;
    color: #fff;
    padding-bottom: 50px;
}
.bannerText p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 26px;
    color: #fff; 
    padding: 0 227px;
    
}
.bannerText a{
    font-size: 20px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    line-height: 26px;
    color: #fff; 
    background: #6A4DF4;
    padding: 15px 42px;
    border-radius: 10px;
    margin-top: 30px;
}
/* BannerPart Css End */
/* CounterPart Css Start */
#counterPart{
    padding: 165px 0;
}
.leftText h4{
    font-size: 25px;
    font-weight: 500;
    line-height: 120%;
    font-family: "Inter", sans-serif;
    color: #6A4DF4;
    
}
.leftText h3{
    font-size: 35px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #151515;
    padding-right: 15px;
}
.counterItem h3{
    font-size: 50px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #151515;
}
.counterItem h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    font-family: "Inter", sans-serif;
    color: #737373;
}
.Extrabg{
    background: #E0FFF9;
    padding: 80px 25px;
}
/* CounterPart Css End */
/* ServicePart Css Start */
#ServicePart{
    padding: 100px 0;
}
.ServiceItem{
    padding: 70px;
    text-align: center;
    transition: .4s;

    
}
.Service h2{
    font-size: 45px;
    font-weight: 700;
    color: #151515;
    font-family: "Inter", sans-serif;
    padding-bottom: 30px;
}
.Service p{
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    padding: 0 51px;
}
.ServiceText h3{
    
    font-size: 25px;
    font-weight: 700;
    color: #151515;
    font-family: "Inter", sans-serif;
    padding: 15px 0;
}
.ServiceText p{
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    font-family: "Inter", sans-serif;
}
.ServiceItem:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
border-radius: 20px;
}
/* ServicePart Css End */
/* RecentPart Css Start */
#RecentPart{
    padding: 100px 0;
    background: #F3F3F3;
}
.RecentItem{
    
    text-align: center;
    background: #ffff;
    border-radius: 20px;
    
}
.Recent h2{
    font-size: 45px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #151515;
}
.Recent p{
   font-size: 16px;
   font-weight: 400;
   color: #737373;
   padding: 20px 29px;
}


.RecentText h3{
    font-size: 20px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #151515;
    padding: 15px 0;
}
.RecentText p{
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    
   
}

/* RecentPart Css End */
/* ChoosePart Css Start */
#ChoosePart{
    padding: 100px 0;
}
.Chooseimg{
    margin-top: 80px;
}
.Choose h2{
    font-size: 45px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #151515;
    padding: 0 66px;
    
}
.Choose p{
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    padding: 20px 0;
    

}
.ChooseText h3{
    font-size: 25px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #151515;
    padding: 15px 0;
    
}
.ChooseText p{
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    font-family: "Inter", sans-serif;
   
    
}
.img{
    padding-top: 100px;
}

/* ChoosePart Css End */
/* ReviewsPart Css Start */
#ReviewsPart{
    padding: 100px 0;
}
.QuotesItem{
    padding: 50px 50px;
    margin-top: 40px;
    transition: .4s;
    
}
.quotesbg{
   
    color: #6A4DF4;
    

}

.quotesbe{
    color: #6A4DF4;
}
.quotesbb{
    color: #6A4DF4;
}
.QuotesItem:hover{
  
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    background:#F4EFEF; 
}
.ReviewStart{
    padding-top: 20px;
    color: #F9BD2C;
}
.ReviewsText h3{
    font-size: 45px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #151515;
}
.ReviewsText p{
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    padding-top: 20px;
}
.Reviewer{
    display: flex;
}
.ReviewName{
    margin-left: 20px;
    margin-top: 20px;
}
.Eric{
    width: 47px;
    height: 47px;
    margin-top: 20px;
}
.ReviewName h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: #232323;
    font-family: "Inter", sans-serif;
}
.ReviewName p{
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
    line-height: 26px;
    font-family: "Inter", sans-serif;
}
/* ReviewsPart Css End */
/* ContactPart Css Start */
 #ContactPart{
 
    padding: 250px 0;
    background: #F3F3F3;
 }
.ContactArea{
    width: 536px;
    height: 622px;
    padding: 50px;
    background: #fff;
    border-radius: 20px;
    margin-left: 100px;
    
 
}
.GetPart{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #151515;
    text-align: center;
   margin-bottom: 40px;

   
}
.myinput{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #D0D0D0;
    padding: 15px;
    width: 450px;
    height: 64px;
    font-family: "Inter", sans-serif;
} 
.fromName{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    margin-left: 5px;
}
.frombtn{
    width: 450px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    background: #6A4DF4;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 15px;
    font-family: "Inter", sans-serif;
}
.DesignText{
    padding-top: 200px;
}
.DesignText p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #737373;
    font-family: "Inter", sans-serif;

}
.DesignText h2{
    font-size: 45px;
    font-weight: 700;
    padding: 30px 0;
    color: #151515;
    font-family: "Inter", sans-serif;
}
/* ContactPart Css End */
/* FooterPart Css Start */
#FooterPart{
    padding: 200px 0;
    background: #F3F3F3;
}

.FooterText p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #7B7B7B;
  padding: 30px ;
  
}
ul,li{
    list-style-type: none;
}
a{
 text-decoration: none;
 display: inline-block;
}
.AgencText p{
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   color: #7B7B7B;
   padding: 20px 19px;
   font-family: "Inter", sans-serif;
}
.AgencText img{
 padding-left: 20px;
}
.AgencItem h3{
    font-size: 20px;
    font-weight: 600;
    color: #151515;
    padding:20px;
    margin-left: 15px;
    font-family: "Inter", sans-serif;
}
.AgencItem ul li a{
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color: #7B7B7B;
   font-family: "Inter", sans-serif;

}
.underline{
    padding: 200px 100px;

}
h6{
    
    display: inline-block;
    position: relative;
  
    
}
h6::after{
    position: absolute;
    height: 2px;
    width: 1320%;
    background: #E8E8E8;
   right: 50px;
   top: 0;
   content: "";

}
.underline h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #D0D0D0;
    /* text-align: center; */
    padding: 30px 0;
   margin-left: 380px;
}

/* FooterPart Css End */
/* bannerPart Css End */
